{% extends 'base.html.twig' %}

{% block body %}

<script>
    // add-collection-widget.js
  jQuery(document).ready(function () {
      jQuery('.add-another-collection-widget').click(function (e) {
          var list = jQuery(jQuery(this).attr('data-list-selector'));
          // Try to find the counter of the list or use the length of the list
          var counter = list.data('widget-counter') | list.children().length;

          // grab the prototype template
          var newWidget = list.attr('data-prototype');
          // replace the "name" used in the id and name of the prototype
          // with a number that's unique to your emails
          // end name attribute looks like name="contact[emails][2]"
          newWidget = newWidget.replace(/name/g, counter);
          // Increase the counter
          counter++;
          // And store it, the length cannot be used if deleting widgets is allowed
          list.data('widget-counter', counter);

          // create a new list element and add it to the list
          var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
          newElem.appendTo(list);
      });
  });
  </script>

<div class="general-window card mb-3">
    <h1 class="h3 font-weight-normal card-header text-primary">Changer la description</h1>
    <div class="card-body">
    
    {{ form_start(form) }}

        <ul id="description-fields-list"
          data-prototype="{{ form_widget(form.description.vars.prototype)|e }}"
          data-widget-tags="{{ '<li></li>'|e }}"
          data-widget-counter="{{ form.children|length }}">
          {% for desc in form.description %}
          <li>
              {{ form_errors(desc) }}
              {{ form_widget(desc) }}
          </li>
          {% endfor %}
        </ul>

      {{ form_row(form.description,{ 'label' : false, 'attr' : { 'class' : '' } }) }}
      <button type="submit" class="btn btn-success"> Modifier </button>
    
    {{ form_end(form)}}
    
    </div>
</div>

{% endblock %}