{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<container class="container-profile">
<div class="card border-warning mb-3" style="max-width: 30rem;">
  <div class="card-header"><h2>Profil</h2></div>
  <div class="card-body profile-layout">
    {% if not app.user %}
    <div>Vous devez vous connecter pour modifier votre profil.</div>
{% else %}
    {{ form_start(form) }}
    {{ form_row(form.confirm_oldMotDePasse,{ 'attr' : { 'class' : 'profile-data form-control' } ,'label' : 'Votre ancien mot de passe'}) }}
    {{ form_row(form.nouveau_motDePasse,{'attr' : { 'class' : 'profile-data form-control' }}) }}
    {{ form_row(form.confirm_nouveauMotDePasse,{ 'attr' : { 'class' : 'profile-data form-control' } ,'label' : 'Confirmation du mot de passe'}) }}
    </br>
    <button type="submit" class="btn btn-success "> Modifier </button>
    {{ form_end(form)}}
    </div>
</div>
</container>

{% endif %}
{% endblock %}