{% extends 'base.html.twig' %}

{% block body %}
  <container class="container-profile general-mobile-text">
  <div class="card border-warning mb-3 profile-card">
    <div class="card-header"><h2>Profil</h2></div>
    <div class="card-body profile-layout">
      {% if not app.user %}
          <div>Vous devez vous connecter pour accèder a cet page ! </div>
      {% else %}
      <div class="profile-info">
        {% if user.imageName is not null %}
        <img class="profile-image" src="{{ asset(('/images/profile/' ~ user.imageName)) | imagine_filter('profile_thumb') }}">
        {% endif %}
        <div class="profile-inner">
          <div>Nom : </div>
          <fieldset class="profile-data">
              <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.nom }}" readonly="">
          </fieldset>
        </div>
        <div class="profile-inner">
          <div>Prenom : </div>
          <fieldset class="profile-data">
              <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.prenom}}" readonly="">
          </fieldset>
        </div>
        <div class="profile-inner">
          <div>Email : </div>
          <fieldset class="profile-data">
              <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.email}}" readonly="">
          </fieldset>
        </div>
        <div class="profile-inner">
          <div>Date de naissance : </div>
          <fieldset class="profile-data">
              <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.datenaissance|date("d/m/Y")}}" readonly="">
          </fieldset>
        </div>
        <div class="profile-inner">
          <div>Adresse : </div>
          <fieldset class="profile-data">
              <textarea class="form-control adresse-layout" id="readOnlyInput" placeholder="{{ app.user.adresse}}" readonly=""></textarea>
          </fieldset>
        </div>
        <div class="profile-inner">
          <div>Galop : </div>
          <fieldset class="profile-data">
              <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.galop.niveau | number_format }}" readonly="">
          </fieldset>
        </div>
      </div>
    </div>    
  </div>

  <div class="profile-modifs">
      <div class="card border-info profile-modifs-wrapper general-mobile-text">
      {% if app.user == user %}
          <div><a class=" btn bg-info profile-button" href="{{ path('security_profile_modify') }}">Modifier profil</a></div>
          <div><a class=" btn bg-info profile-button" href="{{ path('security_profile_modify_password') }}">Modifier mot de passe</a></div>
          {% if app.user.verifiedMail != true %}
            {{ form_start(formMailVerification) }}
            {{ form_row(formMailVerification.mail_verification,{ 'label' : 'Vérifier l\'adresse mail' , 'attr' : { 'class' : 'btn bg-info profile-button general-mobile-text' } }) }}
            {{ form_end(formMailVerification) }}
          {% endif %}
      {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
              <div><a class=" btn bg-info profile-button" href="{{ path('createEvent') }}">Creation evenement</a></div>
              <div><a class=" btn bg-info profile-button" href="{{ path('createEventDivers') }}">Création évènement divers</a></div>
              <div><a class=" btn bg-info profile-button" href="{{ path('security_add_description') }}">Ajouter description</a></div>
              <div><a class=" btn bg-info profile-button" href="{{ path('security_description') }}">Modifier description</a></div>
              <div><a class=" btn bg-info profile-button" href="{{ path('createPdf') }}">Modifier les PDF</a></div
              <div><a class=" btn bg-info profile-button" href="{{ path('security_show_all_users') }}">Liste des utilisateurs</a></div>    
          {% endif %}
            {% if app.user.roles == ['ROLE_BENEVOLE'] %}
                {{ form_start(form) }}
                  {{ form_row(form.benevole,{ 'label' : 'Se retirer de la liste des bénévoles'}) }} 
                {{ form_end(form) }}   
            {% elseif app.user.roles == ['ROLE_USER'] %}
                {{ form_start(form) }}
                {{ form_row(form.benevole,{ 'label' : 'S\'ajouter a la liste des bénévoles'}) }}
                {{ form_end(form) }}
            {% endif %}    
      {% endif %}
  </div>
  </container>
{% endblock %}