{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>

    {% if not app.user %}
    <div>Vous devez vous connecter pour modifier votre profil.</div>
{% else %}
  confirmoldmotdepasse  {{ app.user.confirm_oldMotDePasse}}
    motdepasse {{ app.user.motDePasse}}
   vieuxmotdepasse {{ app.user.oldMotDePasse}}
    nouveaumotdepasse {{ app.user.nouveau_motDePasse}}
     nouveaymotdepasse {{ app.user.confirm_nouveauMotDePasse}}
    
    {{ form_start(form) }}
    {{ form_row(form.confirm_oldMotDePasse,{ 'label' : 'Votre ancien mot de passe'}) }}
    {{ form_row(form.nouveau_motDePasse) }}
    {{ form_row(form.confirm_nouveauMotDePasse,{ 'label' : 'Confirmation du mot de passe'}) }}
    <button type="submit" class="btn btn-success"> Modifier </button>
    {{ form_end(form)}}

{% endif %}
{% endblock %}