{%  extends 'base.html.twig' %}

{%  block body %}
  <div class="form-container card mb-3 registration-layout">
    {% if app.user %}
        <div>Vous devez vous déconnecter pour crée un nouveau compte.</div>
    {% else %}
      <div class="card-header">Inscription</div>
        <div class="card-body">
        {{ form_start(form) }}
        <div class="reg-outer">
          <div class="reg-inner reg-pusher">
          <div class="form-element">{{ form_row(form.nom, {'attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.prenom, {'label' : 'Prénom' , 'attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.email, {'attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.dateNaissance,{ 'label' : 'Date de naissance','attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.galop, {'attr':{'class' : 'reg-row-layout'}}) }}</div>
        </div>
          <div class="reg-inner">
          <div class="form-element">{{ form_row(form.adresse, {'label' : 'Adresse, code postal et ville','attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.telephone,{ 'label' : 'Numéro de téléphone','attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.motDePasse, {'attr':{'class' : 'reg-row-layout'}}) }}</div>
          <div class="form-element">{{ form_row(form.confirm_motDePasse,{ 'label' : 'Confirmation du mot de passe','attr':{'class' : 'reg-row-layout'}}) }}</div>
        </div>
        </div>
        <div>{{ form_row(form.imageFile, {'label' : 'Image de profil' , 'attr':{'class' : 'reg-row-layout card-footer upload-btn'}}) }}</div>
        <button type="submit" class="btn btn-success"> S'inscrire </button>
        {{ form_end(form)}}
      </div>  
    {% endif %}
  </div>
{% endblock %}