{% extends 'base.html.twig' %}

{% block body %}
<div class="general-window mt8">
    <div><a class=" btn bg-info profile-button" href="{{ path('security_profile') }}">Retourner sur la page de profil</a></div>
    {% for user in users %}
      <div class="card card-body mb1">
        <div>
            Utilisateur : {{ user.nom }} {{user.prenom}} <br> 
            Mail : {{ user.email }} <br> 
            Date de Naissance : {{ user.dateNaissance|date }} <br> 
            Adresse : {{ user.adresse }} <br> 
            Numero de téléphone : {{ user.telephone }} <br> 
            Galop : {{ user.galop.displayNiveau() }} <br> 
        </div>
        {% if user.verifiedMail == true %}
            <div>Mail vérifié</div>
        {% else %}
            <div>Mail non vérifié</div>
        {% endif %}
        <div>Participe a {{ user.participe|length }} evenements </div>
        <div>Benevole a {{ user.benevolat|length }} evenements </div>
      
        <br>
        <a class="btn btn-secondary" href={{ path('security_delete_user',{'id' : user.id }) }} onclick="return confirm('Etes vous sur de supprimer cet utilisateur ?')">Supprimer cet utilisateur</a>
      </div>
    {% endfor %}
</div>
{% endblock %}