{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<script>
  // add-collection-widget.js
jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') | list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);
    });
});
</script>
  {% if is_granted('ROLE_ADMIN') %}
  <container class="container-creer-event">
    <div class="card mb-3 creer-event-layout">
    {{ form_start(formEvent) }}

    {{ form_row(formEvent.titre, { 'attr' : { 'class' : 'form-control' }}) }}
    {{ form_row(formEvent.divers) }}

    <div class="well">

      <ul id="date-fields-list"
        data-prototype="{{ form_widget(formEvent.dates.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ formEvent.children|length }}">
        {% for dateField in formEvent.dates %}
        <li>
            {{ form_errors(dateField) }}
            {{ form_widget(dateField) }}
        </li>
        {% endfor %}
      </ul>

      <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#date-fields-list">Ajouter une date</button>

      {{ form_row(formEvent.tarifMoinsDe12, { 'attr' : { 'placeholder' : '€' , 'class' : 'form-control' }}) }}
      {{ form_row(formEvent.plusDe12, { 'attr' : { 'placeholder' : '€' , 'class' : 'form-control' }}) }}
      {{ form_row(formEvent.proprietaire, { 'attr' : { 'placeholder' : '€' , 'class' : 'form-control' }}) }}
      {{ form_row(formEvent.texte, { 'attr' : { 'class' : 'form-control' }}) }}
      {{ form_row(formEvent.nbMaxParticipants, { 'attr' : { 'class' : 'form-control' }}) }}
      {{ form_row(formEvent.repasPossible) }}

      {{ form_row(formEvent.galops) }}
    
      <ul id="image-fields-list"
        data-prototype="{{ form_widget(formEvent.images.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ formEvent.children|length }}">
        {% for imageField in formEvent.images %}
        <li>
            {{ form_errors(imageField) }}
            {{ form_widget(imageField) }}
        </li>
        {% endfor %}
      </ul>

      <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#image-fields-list">Ajouter une image</button>

      <button type="submit" class="btn btn-success">Enregistrer</button>
      {{ form_row(formEvent.images,{ 'label' : false } ) }}<!-- pour eviter l'affichage du libelle images-->  
      {{ form_row(formEvent.dates,{ 'label' : false } ) }}<!-- pour eviter l'affichage du libelle dates , car avec les collections on appelle pas explicitement ces méthodes-->    
      {{ form_end(formEvent) }}
      </div>
    </container>
    {% endif %}
    

{% endblock %}