{% extends 'base.html.twig' %}

{% block body %}
<div class="card general-window">
  <div class="card-body">
    <div>En soummettant ce formulaire, vous acceptez d'être prélevé pour le montant écris.</div>
    <div>Tarifs:<br> 1-12 ans: {{event.tarifMoinsDe12}}€, 12 ans+: {{event.tarifPlusDe12}}€, propriétaire: {{event.tarifProprietaire}}€</div>
        {{ form_start(formEventRegistrationTreatment) }}
        <div>Je soussigné  {{ form_row(formEventRegistrationTreatment.signataire,{'label': ''}) }}accepte de payer  {{ form_row(formEventRegistrationTreatment.choixPrix,{'label': ''}) }} montant par prélèvement.</div>   
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end(formEventRegistrationTreatment) }}

        {{ form_start(formCancel) }}
        {{ form_end(formCancel) }}
  </div>
</div>
{% endblock %}