{% extends 'base.html.twig' %}

{% block body %}

    <script>
    function showControls(){
        document.getElementById("image").style.setProperty('margin-left', '-35%');
        document.getElementById("controls").style.setProperty('margin-right', '-1em');
        document.getElementById("image-list").style.setProperty('max-height','0em');
    }

    function showImage(){
        document.getElementById("image").style.setProperty('margin-left', '-1em');
        document.getElementById("controls").style.setProperty('margin-right', '-25%');
        document.getElementById("image-list").style.setProperty('max-height','100%');
    }

    // add-collection-widget.js
    jQuery(document).ready(function () {
        jQuery('.add-another-collection-widget').click(function (e) {
            var list = jQuery(jQuery(this).attr('data-list-selector'));
            // Try to find the counter of the list or use the length of the list
            var counter = list.data('widget-counter') | list.children().length;

            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data('widget-counter', counter);

            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
        });
    });
    </script>

    <section class="event-layout">
      {% if event.images|length > 0 %}
        <div id="image" class="event-thumbnail">
          <div class="event-first-image card bg-secondary" onclick="showImage()">
            <div class="thumbnail-container bg-white"><img class="event-thumbnail-image" src="/images/properties/{{ ((event.images | first).imageName) }}"></div>
            <div class="bg-secondary arrow-container"><div class="arrow"><p> > <br> > <br> > </p></div></div>
          </div>
          <div id="image-list" class="event-image-list {% if event.images|length < 2 %}image-list-empty{% endif %}">
            {% for image in event.images %}
            {% if loop.index > 1 %}
              <div class="divers-image">
                <img class="divers-thumbnail-image" src="/images/properties/{{ image.imageName }}">
              </div>
              {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-secondary index-more-button" href={{ path('event_delete_image',{'idImage' : image.id,'idEvent' : event.id }) }} onclick="return confirm('Etes vous sûr de supprimer cette image ?')">Supprimer cette image</a>
                <a class="btn btn-secondary index-more-button" href={{ path('change_main_image',{'idImage' : image.id,'idEvent' : event.id }) }} onclick="return confirm('Etes vous sûr de remplacer l'image principale ?')">Rendre cette image principale</a>
              {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
        <div class="event-controls-container event-info">
        <event class="card mb-3 event-info">
            <h2 class="card-header mobile-title bg-light">{{ event.titre }}</h2>
            <div class="card-subtitle event-corner bg-event-date">
              <div class="corners">
                <img class="corner-top-left" src="/images/resources/corner_top_left.png">
                <img class="corner-top-right" src="/images/resources/corner_bottom_left.png">
              </div>
              <ul class="event-date-layout">
                {% for date in event.dates %}
                    <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div> de <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div> à <div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div></li>
                {% endfor %}
              </ul>
              <div class="corners">
                <img class="corner-bottom-left" src="/images/resources/corner_top_right.png">
                <img class="corner-bottom-right" src="/images/resources/corner_bottom_right.png">
              </div>
            </div>
            <div class="card-body">
                <div class="tarifs-galops-container bg-secondary">
                    <table class="tarifs-layout">
                        <tr>
                          <td  class="bg-secondary">- de 12 ans:</td><td class="bg-light"> {{ event.tarifMoinsDe12 }}€ </td>
                        </tr>
                        <tr>
                          <td class="bg-secondary">+ de 12 ans:</td><td class="bg-light"> {{ event.tarifPlusDe12 }}€ </td>
                        </tr>
                        <tr>
                          <td class="bg-secondary">Propriétaire:</td><td class="bg-light"> {{ event.tarifProprietaire }}€ </td>
                        </tr>  
                    </table>
                    <div class="galops-layout event-galops-layout">
                        <div class="bg-secondary galops-text">Galops:</div>
                        <div class="bg-light galops-inner event-text">
                          {% for galop in event.galops %}
                            {% if not (galop.niveau == -1) %}
                            <div class="event-galop-layout"><p class="btn bg-warning galop-text">{{galop.niveau}}</p></div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                </div>
                </br>
                  <div class="event-body-text">
                    {{ event.texte }}
                  </div>
                </br>
                  <div class="divers-videos-layout bg-secondary">
                    {% for video in event.videos %}
                      <div class="divers-video">
                        <iframe class="video" src={{ video.lien }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    {% endfor %}
                  </div>
            </div>
            <div class="card-footer event-body-text">
            
            {% if app.user %}
              {% if app.user.roles[0] == 'ROLE_ADMIN_ASSO' %}
                  <div><a href="{{ path('createCreneaux', {'id': event.id}) }}">Ajouter un créneau</a></div>
              {% endif %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(formDelete) }}
                            <input type="submit" class="btn btn-secondary index-more-button" name="delete" value="Supprimer cet évènement" onclick="return confirm('Etes vous sûr de vouloir supprimer cet évènement ?')"/>
                    {{ form_end(formDelete) }}

                    {{ form_start(formPrint) }}
                    {{ form_end(formPrint) }}
                    
                    <div><a class="btn btn-secondary index-more-button" href="{{ path('editEvent', {'id': event.id}) }}">modifier</a></div>
                    <div><a class="btn btn-secondary index-more-button" href="{{ path('add_pictures', {'id': event.id}) }}">ajouter une image</a></div>
                    <div><a class="btn btn-secondary index-more-button" href="{{ path('add_video', {'id': event.id}) }}">ajouter une video</a></div>
            {% endif %}  
            </div>
        </event>
        <div id="controls" class="card bg-secondary event-controls" onclick="showControls()">
          <div class="bg-secondary arrow-container"><div class="arrow"><p> < <br> < <br> < </p></div></div>
          <div class="card-body event-body-text bg-white">
            <div class="h2">Inscription</div>
            <div> Places restantes : {{ event.nbMaxParticipants - event.utilisateurs|length }}</div>
            {% if not app.user %}
              </br>
              <div>Connectez-vous pour vous inscrire à l'événement ! </div>
            {% else %}
              </br>
              {% if app.user.verifiedMail == false %}
                <div>Vous dever verifier votre mail pour vous inscrire</div>
              {% elseif (event.nbMaxParticipants - event.utilisateurs|length) == 0 %}

                <div>Il n'y a plus de places restantes pour cet évènement.</div>
              {% elseif date((event.dates | first).dateLimitRegistration) < date('+0hours', 'Europe/Paris') %}
                <div>La date limite d'inscription est dépassée</div>
              {% else %}

              {% set bonGalop = false %}

                {% for galop in event.galops %}
                    {% if (app.user.galop.niveau >= galop.niveau) and (galop.niveau != -1) %}
                        {%set bonGalop = true %}
                    {% endif %}
                {% endfor %}

                {% if bonGalop %}

                    {% set inscrit = false %}

                    {% for participe in app.user.participe %}
                        {% if participe.id == event.id %}
                            {% set inscrit = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not inscrit %}
                        {{ form_start(form, {'attr' : { 'class' : 'inscri' } }) }}
                            <input type="submit" class="save-button btn btn-success validate" value="VALIDER" onclick="return confirm('Etes vous sûr de vouloir vous inscrire pour cet évènement ?')"/>
                        {{ form_end(form) }}
                    {% else %}
                        <div>Vous êtes inscrit pour cet évènement.</div>
                    {% endif %}

                {% else %}
                    <div>Pour s'inscrire à ce stage, veuillez contacter votre enseignant.</div>
                {% endif %}

            {% endif %}

            </br>

            <a class="btn btn-light" href="{{ path('eventUserList', {'id': event.id}) }}">Liste des inscrits</a>
            
              </br>
              <hr style="height : 1px">
                
                {% if (app.user.roles[0] == 'ROLE_BENEVOLE' or is_granted('ROLE_ADMIN_ASSO')) and formBenevole.creneaux | length > 0 %}

                <div class="h2">Inscription benevole</div>

                    {{ form_start(formBenevole) }}
                    {{ form_row(formBenevole.creneaux, { 'label' : 'Créneaux:' , 'attr' : { 'class' : 'creneaux-container' }}) }}
                    {{ form_end(formBenevole) }}
                    <br>

                {% endif %}
                {% for creneaux in event.creneauxBenevoles %}
                  <div class="bg-light">
                    <div>Bénévoles pour le {{ creneaux.dateDebut |date ('d/m/Y') }} de {{ creneaux.dateDebut |date ('H:i') }} à {{ creneaux.dateFin |date ('H:i') }} </div>
                    reste {{creneaux.nbBenevoles - creneaux.utilisateurs|length}} places</br>
                    {% for utilisateur in creneaux.utilisateurs %}
                        {{ utilisateur.prenom }}
                        {{ utilisateur.nom}}
                        {% if is_granted('ROLE_ADMIN_ASSO') %}
                            <a href={{ path('remove_user_on_creneau',{'idCreneau' : creneaux.id ,'idUser' : utilisateur.id,'idEvent' : event.id }) }} onclick="return confirm('Etes vous sur de supprimer ce bénévole de ce créneau?')">Retirer cet utilisateur</a>
                        {% endif %}
                            </br>
                    {% endfor %}
                  </div>
                  </br>
                {% endfor %}
            {% endif %}
          </div>  
        </div>
        </div>
    </section>

{% endblock %}