{% extends 'base.html.twig' %}

{% block body %}
<div class="card general-window">
  <div class="card-body">
    <div>En soumettant ce formulaire, vous acceptez d'être prélevé pour le montant vous correspondant.</div><br>
    <div>Tarifs:<br> <table class="bg-light"><tr><td>1-12 ans</td> <td>{{event.tarifMoinsDe12}}€</td></tr> <tr><td>12 ans+</td> <td>{{event.tarifPlusDe12}}€</td></tr> <tr><td>propriétaire</td> <td>{{event.tarifProprietaire}}€</td></tr></table></div>
        {{ form_start(formEventRegistrationTreatment, { 'attr' : { 'class' : 'event-inscri' } }) }}
        <div>Je soussigné  {{ form_row(formEventRegistrationTreatment.signataire,{'label' : ' '}) }}accepte de payer  {{ form_row(formEventRegistrationTreatment.choixPrix,{'label' : ' '}) }}€ par prélèvement.</div><br>   
        <button type="submit" class="btn btn-success save-button">Enregistrer</button>
        {{ form_end(formEventRegistrationTreatment) }}

        {{ form_start(formCancel) }}
        {{ form_end(formCancel) }}
  </div>
</div>
{% endblock %}