{% extends 'base.html.twig' %}

{% block body %}

<section class="events-layout big-screen mobile-layout">
    <event class="card mb-3">
        <h2 class="card-header mobile-title bg-light">{{ event.titre }}</h2>
        <div class="card-subtitle bg-event-date">
        <div class="corners">
        <img class="corner-top-left" src="/images/resources/corner_top_left.png">
        <img class="corner-top-right" src="/images/resources/corner_bottom_left.png">
        </div>
            <ul class="event-date-layout">
            {% for date in event.dates %}
                <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div> de <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div> à <div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div></li>
            {% endfor %}
            </ul>
        <div class="corners">
        <img class="corner-bottom-left" src="/images/resources/corner_top_right.png">
        <img class="corner-bottom-right" src="/images/resources/corner_bottom_right.png">
        </div>
        </div>
        <div class="galops-layout">galops:
            {% for galop in event.galops %}
                <div class="btn btn-outline-warning galop-layout">{{galop.niveau}}</div>
            {% endfor %}
        </div>
        <div class="card-body">
            <table><tr class="bg-light">
            <td class="tarif-text bg-secondary"> Tarifs: </td><td>- de 12 ans:</td><td class="tarif-text"> {{ event.tarifMoinsDe12 }}€ </td><td>+ de 12 ans:</td><td class="tarif-text"> {{ event.plusDe12 }}€ </td><td>Propriétaire:</td><td class="tarif-text"> {{ event.proprietaire }}€ </td>
            </tr></table>
            <img class="event-img-layout" src="/images/properties/{{ ((event.images | first).imageName) }}">
            </br>
            {{ event.texte }}
            </br>
        </div>
        <div class="card-footer">
            <div> Places restantes : {{ event.nbMaxParticipants - event.utilisateurs|length }}</div>
        {% if not app.user %}
            <div>Connecter vous pour vous inscrire a l'evenement ! </div>
        {% else %}
            </br>
            <div>Inscription</div>
            <!-- test si le galot de l'utilisateur est dans l'évènement -->

            {% set inscrit = false %}

            {% for participe in app.user.participe %}
                {% if participe.id == event.id %}
                    {% set inscrit = true %}
                {% endif %}
            {% endfor %}
            {% if not inscrit %}
                <p>
                <label for="PrendreRepas">Repas</label>
                <input type="checkbox" name="ChoixRepas" id="PrendreRepas">
                </p>
                {{ form_start(form) }}
                {{ form_end(form) }}                
            {% else %}
                <div>Vous êtes inscrit pour cet évènement.</div>
            {% endif %}

            {% for utilisateur in event.utilisateurs %}
                {{ utilisateur.prenom }}
                {{ utilisateur.nom}}
            {% endfor %}

            </br>
            <div>Inscription benevole</div>

            {{ form_start(formBenevole) }}

            <div> Nombre de Benevole necessaire le matin : {{ event.nbBenevolesMatin }}</div>
            {{ form_row(formBenevole.save) }}

            <div> Nombre de Benevole necessaire l'apres-midi : {{ event.nbBenevolesApresMidi }}</div>
            {{ form_row(formBenevole.saveAndAdd) }}

            <div> Nombre de Benevole necessaire pour le repas : {{ event.repas.nombreBenevoles }}</div>
            {{ form_row(formBenevole.Save) }}

            {{ form_end(formBenevole) }} 

        {% endif %}
        </div>
    </event>
    <HR width="50%" size="10" noshade />
    
</section>

<section>

    {% if app.user %}
        {% for role in app.user.roles %}
            {% if role == 'ROLE_ADMIN_ASSO' %}
                
                {{ form_start(formAsso) }}

                {{ form_row(formAsso.nbBenevolesMatin) }}
                {{ form_row(formAsso.nbBenevolesApresMidi)}}
                {{ form_row(formAsso.repas) }}

                <button type="submit" class="btn btn-success">Enregistrer</button>

                {{ form_end(formAsso) }}

            {% endif %}
        {% endfor %}
    {% endif %}

</section>

{% endblock %}