{% extends 'base.html.twig' %}

{% block body %}

<section class="events-layout big-screen mobile-layout">
    {% for event in events %}
        <event class="card mb-3">
            <h2 class="card-header mobile-title bg-light">{{ event.titre }}</h2>
            <div class="card-subtitle bg-event-date">
            <div class="corners">
            <img class="corner-top-left" src="http://placehold.it/32x32">
            <img class="corner-top-right" src="http://placehold.it/32x32">
            </div>
                <ul class="event-date-layout">
                {% for date in event.dates %}
                    <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div> de <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div> à <div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div></li>
                {% endfor %}
                </ul>
            <div class="corners">
            <img class="corner-bottom-left" src="http://placehold.it/32x32">
            <img class="corner-bottom-right" src="http://placehold.it/32x32">
            </div>
            </div>
            <div class="galops-layout">galops:
                {% for galop in event.galops %}
                    <div class="btn btn-outline-warning galop-layout">galop {{galop.niveau}}</div>
                {% endfor %}
            </div>
            <div class="card-body">
                <table><tr class="bg-light">
                <td class="tarif-text bg-secondary"> Tarifs: </td><td>- de 12 ans:</td><td class="tarif-text"> {{ event.tarifMoinsDe12 }}€ </td><td>+ de 12 ans:</td><td class="tarif-text"> {{ event.plusDe12 }}€ </td><td>Propriétaire:</td><td class="tarif-text"> {{ event.proprietaire }}€ </td>
                </tr></table>
                <img class="event-img-layout" src="{{ ((event.images | first).url) }}">
                </br>
                {{ event.texte }}
                </br>
                <a href="{{ path('event', {'id': event.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </event>
        <HR width="50%" size="10" noshade />
    {% endfor %}

</section>

{% endblock %}