{% extends 'base.html.twig' %}

{% block title %}Les écuries - Accueil{% endblock %}

{% block body %}

{% set var = 0 %}
{% set active = 'active' %}

<div class="pres-image-container">
  <div class="custom-container">
    {% for desc in descs %}
    <div class="pres-image">
      <img class="pres-thumbnail" src="/images/description/{{ desc.imageName }}">
      <div class="presentation">{{ desc.texte }}</div>
    </div>
      {% if is_granted('ROLE_ADMIN') %}
        <div><a href="{{ path('security_delete_description', {'id': desc.id}) }}">supprimer</a></div>
      {% endif %}
    {% endfor %}
  </div>
  <div id="myCarousel" class="carousel slide image-band-layout" data-ride="carousel">
    <ol class="carousel-indicators carousel-indic-custom">
      {% for image in images %}
      {% if var % 5 == 0 %}
      <li data-target="#myCarousel" data-slide-to="{{ var }}" class="{% if var == 0 %}{{ active }}{% set active = '' %}{% endif %}"></li>
      {% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
    </ol>
    {% set active = 'active' %}
    <div class="carousel-inner carousel-custom">
      {% set var = 0 %}
      {% for image in images %}
      {% if var == 0 %}
      <div class="carousel-item {% if active == 'active' %}{{ active }}{% set active = '' %}{% endif %}">
      <div class="carousel-pusher"></div>
      {% endif %}
        <img class="image-thumbnail" src="{{ (vich_uploader_asset((image),'imageFile')) | imagine_filter('my_thumb') }}">
      {% if var % 5 == 4 %}</div>{% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
      {% if var % 5 != 0 %}</div>{% endif %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<section class="events-layout big-screen mobile-layout">
    {% for event in events %}
    <a class="clickable-event event-element" href="{{ path('event', {'id' : event.id }) }}">
      <event class="card mb-3">
        <div class="event-outer">
          <div class="event-image">
            <div class="index-img-layout bg-secondary">
              <img class="event-image-inner" src="{{ (vich_uploader_asset((event.images | first),'imageFile')) | imagine_filter('my_thumb') }}">
            </div>
          </div>
          <div class="event-content bg-light {% if event.divers %}index-divers-title{% endif %}">
            <div class="event-title index-title-wrapper">
              <h3 class="index-event-title mobile-title">{{ event.titre }}</h2>
            </div>
            {% if not event.divers %}
            <div class="bg-event-date date-container-wrapper event-date">
              <div class="corners">
                <img class="corner-top-left" src="/images/resources/corner_top_left.png">
                <img class="corner-bottom-left" src="/images/resources/corner_bottom_left.png">
              </div>
              <div class="event-container">
                <ul class="event-date-layout">
                {% for date in event.dates %}
                  {% if loop.index < 4 %}
                  <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM') }}</div>{% if loop.last == false and loop.index == 3 %} ...{% endif %}</li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
              <div class="corners right-corners">
                <img class="corner-top-right" src="/images/resources/corner_top_right.png">
                <img class="corner-bottom-right" src="/images/resources/corner_bottom_right.png">
              </div>
            </div>
            <div class="bg-white galops-container event-galops">
              <div class="galops-layout">
                <div class="galops-inner index-galops">
                {% for galop in event.galops %}
                  {% if not (galop.niveau == -1) %}
                  <div class="btn bg-warning galop-layout">G{{galop.niveau}}</div>
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </event>
    </a>
    {% endfor %}

</section>

{% endblock %}
