{% extends 'base.html.twig' %}

{% block title %}Les écuries - Accueil{% endblock %}

{% block body %}

<div class="custom-container">
    <div class="card text-white bg-transparent-blue mb-3" style="max-width: 60rem;">
    <div class="card-body">
        <h4 class="card-title">Présentation</h4>
        <p class="card-text">Ceci est un exemple de présentation.</br> Plusieurs paragraphes peuvent être représentés, présentant ainsi les écuries. Ce site web est encore en construction.</p>
    </div>
    </div>
</div>

{% set var = 0 %}
{% set active = 'active' %}

<div id="myCarousel" class="carousel slide image-band-layout" data-ride="carousel">
    <ol class="carousel-indicators carousel-indic-custom">
      {% for image in images %}
      {% if var % 5 == 0 %}
      <li data-target="#myCarousel" data-slide-to="{{ var }}" class="{% if var == 0 %}{{ active }}{% set active = '' %}{% endif %}"></li>
      {% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
    </ol>
    {% set active = 'active' %}
    <div class="carousel-inner carousel-custom">
      {% set var = 0 %}
      {% for image in images %}
      {% if var == 0 %}
      <div class="carousel-item {% if active == 'active' %}{{ active }}{% set active = '' %}{% endif %}">
      <div class="carousel-pusher"></div>
      {% endif %}
        <img class="image-thumbnail" src="/images/properties/{{ image.imageName }}">
      {% if var % 5 == 4 %}</div>{% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
      {% if var % 5 != 0 %}</div>{% endif %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<section class="events-layout big-screen mobile-layout">

    {% for event in events %}
        <event class="card mb-3">
            <h2 class="card-header index-event-title mobile-title bg-light">{{ event.titre }}</h2>
            <div class="card-subtitle bg-event-date">
            <div class="corners">
            <img class="corner-top-left" src="/images/resources/corner_top_left.png">
            <img class="corner-bottom-left" src="/images/resources/corner_bottom_left.png">
            </div>
              <div class="event-container">
                <ul class="event-date-layout">
                {% for date in event.dates %}
                    <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div> de <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div> à <div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div></li>
                {% endfor %}
                </ul>
              </div>
            <div class="corners">
            <img class="corner-top-right" src="/images/resources/corner_top_right.png">
            <img class="corner-bottom-right" src="/images/resources/corner_bottom_right.png">
            </div>
            </div>
            <div class="card-body index-content-event-layout">
              <div class="galops-layout index-galops-container table-active">  
                <div class="galops-text">Galops:</div>
                <div class="galops-inner index-galops">
                  {% for galop in event.galops %}
                    <div class="btn btn-outline-warning galop-layout">{{galop.niveau}}</div>
                  {% endfor %}
                </div>
              </div>
                <container class="index-event-content mobile-index-layout">
                <div class="index-img-layout">
                <img class="event-img-layout" src="/images/properties/{{ ((event.images | first).imageName) }}">
                </div>
                <div class="index-text-layout">
                {{ event.texte }}
                </br>
                </br>
                <a href="{{ path('event', {'id': event.id}) }}" class="btn btn-primary index-more-button">Lire la suite</a>
                </div>
                </container>
            </div>
        </event>
        <HR width="50%" size="10" noshade />
    {% endfor %}

</section>

{% endblock %}
