{% extends 'base.html.twig' %}

{% block title %}Les écuries - Accueil{% endblock %}

{% block body %}

{% set var = 0 %}
{% set active = 'active' %}

<div id="myCarousel" class="carousel slide image-band-layout" data-ride="carousel">
    <ol class="carousel-indicators carousel-indic-custom">
      {% for image in images %}
      {% if var % 5 == 0 %}
      <li data-target="#myCarousel" data-slide-to="{{ var }}" class="{% if var == 0 %}{{ active }}{% set active = '' %}{% endif %}"></li>
      {% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
    </ol>
    {% set active = 'active' %}
    <div class="carousel-inner carousel-custom">
      {% set var = 0 %}
      {% for image in images %}
      {% if var == 0 %}
      <div class="carousel-item {% if active == 'active' %}{{ active }}{% set active = '' %}{% endif %}">
      <div class="carousel-pusher"></div>
      {% endif %}
        <img class="image-thumbnail" src="/images/properties/{{ image.imageName }}">
      {% if var % 5 == 4 %}</div>{% endif %}
      {% set var = var + 1 %}
      {% set var = var % 5 %}
      {% endfor %}
      {% if var % 5 != 0 %}</div>{% endif %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<section class="events-layout big-screen mobile-layout">

    {% for event in events %}
      <event class="card mb-3 event-element">
        <div class="event-outer">
          <div class="event-image">
            <div class="index-img-layout bg-secondary">
              <img class="event-image-inner" src="/images/properties/{{ ((event.images | first).imageName) }}">
            </div>
          </div>
          <div class="event-content">
            <div class="event-title bg-light">
              <h3 class="index-event-title mobile-title">{{ event.titre }}</h2>
            </div>
            <div class="card-subtitle bg-event-date event-date">
              <div class="corners">
                <img class="corner-top-left" src="/images/resources/corner_top_left.png">
                <img class="corner-bottom-left" src="/images/resources/corner_bottom_left.png">
              </div>
              <div class="event-container">
                <ul class="event-date-layout">
                {% for date in event.dates %}
                  {% if loop.index < 4 %}
                  <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'd MMMM') }}</div>, <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div>-<div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div>{% if loop.last == false and loop.index == 3 %} ...{% endif %}</li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
              <div class="corners right-corners">
                <img class="corner-top-right" src="/images/resources/corner_top_right.png">
                <img class="corner-bottom-right" src="/images/resources/corner_bottom_right.png">
              </div>
            </div>
            <div class="galops-container event-galops">
              <div class="galops-layout">
                <div class="galops-inner index-galops">
                {% for galop in event.galops %}
                  <div class="btn bg-warning galop-layout">G{{galop.niveau}}</div>
                {% endfor %}
                </div>
              </div>
              <div>
                <a href="{{ path('event', {'id': event.id}) }}" class="btn btn-primary index-more-button">s'inscrire</a>
              </div>
            </div>
          </div>
        </div>
      </event>
    {% endfor %}

</section>

{% endblock %}
