{% extends 'base.html.twig' %}

{% block title %}Les écuries - Accueil{% endblock %}

{% block body %}
<style>
</style>

<div class="custom-container">
    <div class="card text-white bg-transparent-blue mb-3" style="max-width: 60rem;">
    <div class="card-body">
        <h4 class="card-title">Présentation</h4>
        <p class="card-text">Ceci est un exemple de présentation.</br> Plusieurs paragraphes peuvent être représentés, présentant ainsi les écuries. Ce site web est encore en construction.</p>
    </div>
    </div>
</div>

<section class="events-layout big-screen mobile-layout">

    {% for event in events %}
        <event class="card mb-3">
            <h2 class="card-header index-event-title mobile-title bg-light">{{ event.titre }}</h2>
            <div class="card-subtitle bg-event-date">
            <img class="corner-top-left" src="http://placehold.it/32x32">
            <img class="corner-top-right" src="http://placehold.it/32x32">
                <ul class="event-date-layout">
                {% for date in event.dates %}
                    <li><div class="date-text">{{ date.dateDebut | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</div> de <div class="date-text">{{ date.dateDebut | date('H\\Hi') }}</div> à <div class="date-text">{{ date.dateFin | date('H\\Hi') }}</div></li>
                {% endfor %}
                </ul>
            <img class="corner-bottom-left" src="http://placehold.it/32x32">
            <img class="corner-bottom-right" src="http://placehold.it/32x32">
            </div>
            <div class="card-body index-content-event-layout">
            <div class="galops-layout">galops:
                {% for galop in event.galops %}
                    <div class="btn btn-outline-warning galop-layout">galop {{galop.niveau}}</div>
                {% endfor %}
            </div>
                <container class="index-event-content mobile-index-layout">
                <div class="index-img-layout">
                <img class="event-img-layout" src="{{ ((event.images | first).imageFile) }}">
                </div>
                <div class="index-text-layout">
                {{ event.texte }}
                </br>
                </br>
                <a href="{{ path('event', {'id': event.id}) }}" class="btn btn-primary index-more-button">Lire la suite</a>
                </div>
                </container>
            </div>
        </event>
        <HR width="50%" size="10" noshade />
    {% endfor %}

</section>

{% endblock %}
