<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/custom_classes.css">
        {% block stylesheets %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <div class="header-custom">
      <div class="title-pres">
        <h1 class="website-title mobile-web-title">Les Écuries du Sundgau</h1>
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar-custom navbar-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navtext navlogo" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('home') }}"><img class="navbar-logo-custom" src="/images/resources/navbar/home.png" alt="home"> Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('events') }}"><img class="navbar-logo-custom" src="/images/resources/navbar/events.png" alt="events"> Évènements</a>
            </li>
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('prices') }}"><img class="navbar-logo-custom" src="/images/resources/navbar/prices.png" alt="prices"> Tarif</a>
            </li>
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('contact') }}"><img class="navbar-logo-custom" src="/images/resources/navbar/contact.png" alt="contact"> Contact</a>
            </li>
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('facilities') }}"><img class="navbar-logo-custom" src="/images/resources/navbar/installations.png" alt="facilities"> Les Installations </a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            {% if not app.user %}
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('security_login') }}">Se Connecter</a>
            </li>
            {% else %}
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('security_profile') }}">Profil</a>
            </li>
            <li class="nav-item nav-item-custom">
                <a class="nav-link navbar-text-custom bg-button-custom btn btn-outline-info" href="{{ path('security_logout') }}">Se Deconnecter</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    </div>
    <body>

        <div class="flash-layout">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-warning flash-element">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            
        {% endfor %}
        </div>

        {% block body %}{% endblock %}
        <br>
        <br>
        {% block footer %}
             <div class="footer-custom"><a style="color: white; margin-left: 3em;" href="{{ path('legal_mention') }}">Mentions légales</a></div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
