{% extends 'base.html.twig' %}

{% block body %}

    <event>
        <h2>{{ event.titre }}</h2>
        <div class="date">
            <p>
                {% for date in event.dates %}
                    {{ date.dateDebut | date('d/m/Y') }} de {{ date.dateDebut | date('H:i') }} à {{ date.dateFin | date('H:i') }}</br>
                {% endfor %}
            </p>
        </div>
        <div class="galops">
                {% for galop in event.galops %}
                    {{galop.niveau}}
                {% endfor %}
        </div>
        <div class="content">
            <p>Tarifs:  Moins de 12 : {{ event.tarifMoinsDe12 }}€,  Plus de 12 :  {{ event.plusDe12 }}€,  proprietaire :  {{ event.proprietaire }}€</p>
           <!-- image -->
            </br>
            {{ event.texte }}
            </br>
        </div>
        {% if not app.user %}
            <div>Connecter vous pour vous inscrire a l'evenement ! </div>
        {% else %}
            </br>
            <div>Inscription</div>
            {% if 0 == 1 %}<!-- test si le galot de l'utilisateur est dans l'évènement -->  

            {% elseif app.user.participe is null %} <!-- si deja inscrit a levenement -->
                {{ form_start(form) }}
                {{ form_end(form) }}                
            {% else %}
                <div>Vous êtes inscrit pour cet évènement.</div>
            {% endif %}
        {% endif %}
    </event>

{% endblock %}